@page
@using BP_Webshop.Models
@model BP_Webshop.Pages.CRUD.AllBraceletsModel
@{
}

<h1 class="display-4 text-white">All Bracelets</h1>

<input  asp-page-handler="GetBCat" value="Filter" type="submit">Kangan</input>
<br/>

@* SKAL ADMIN RUNDT OM *@
@if (User.IsInRole("admin"))
{
<form>
    <p>
        <a asp-page="CreateBracelet" class="btn btn-light">Create a new Bracelet</a>
    </p>
</form>
}

@* ADMIN SLUT *@
    
<main>
    <div class="card-columns">
        @foreach (var bracelet in Model.bracelets)
        {
            <div class="card">
                <div class="card-img">

                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        @bracelet.JewelryTitle
                    </h6>
                    <h6 class="card-Description">
                        @bracelet.Description
                    </h6>
                    <p>@bracelet.Color</p>
                    <p>@bracelet.AverageRating</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
            </div>

        }
    </div>
</main>