@page
@using System.Diagnostics.Eventing.Reader
@model BP_Webshop.Pages.Orders.AddToCartModel
@{
}
<h1>Add To Cart</h1>

<div class="row">
    <div class="col-md-4">
        <div>
            Jewellery: @Model.Jewelry.JewelryID
        </div>
        <div>
            Produkt: @Model.Jewelry.JewelryTitle
        </div>
        <div>
            Price: @Model.Jewelry.Price
        </div>
        
        <form method="post">
            Count:
            <input asp-for="@Model.Count" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Add To Cart" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="../Item/GetAllItems">Back to List</a>
</div>