body {
    margin: 0;
    background-image: url("/Images/back.png");
    /*background-size: cover;*/
   /* background-size: cover;
    width: 768;
    height: 1024;*/

}


.navbar {
    overflow: hidden;
    /* display: block; */
    align-items: normal;
    top: 0;
    width: 100%;
  
}
nav.navbar.navbar-light {
    border-color: white;
    color: rgba(0,0,0,.5);
}

/*HAMBURGER MENU*/
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: white;
    background-color: darkgrey;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 2em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
/*Log in BUTTONS*/
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgba(0,0,0,.5);
/*    background-color: #0062cc;
*/    border-color: #005cbf;
}


/*DROPDOWN*/
.dropdown, .dropleft, .dropright, .dropup {
  
    padding: 10px;
    
}

/*Button images*/
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    /* background-color: #0062cc; */
    border-color: transparent;
}

    /*Categories*/
div .col.Bracelet_category {
    padding-bottom: 100px;
    /*padding-left: 50px;*/
}

img.Bracelet_img {
    /*min-width: 200px;
    min-height: auto;*/
}

div.col.Earring_category {
    padding-top: 100px;
    padding-left: 50px;
}

img.Earring_img {
   /* min-width: 200px;
    min-height: auto;*/
}

div.col.Head_category {
    padding: 50px;
    padding-left: 100px;
}

img.Head_img {
    min-width: 150px;
    min-height: auto;
}

div.col.Ring_category {
    padding: 50px;
    padding-left: 100px;
}

img.Ring_img {
    min-width: 150px;
    min-height: auto;
}

div.col.Necklace_category {
    padding: 0px;
    padding-left: 0px;
}

img.Necklace_img {
    max-width: 200px;
    min-height: auto;
}



.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

/*CHECKOUT FORM*/

/** {
    box-sizing: border-box;
}*/

/*.row {
    display: -ms-flexbox;*/ /* IE10 */
    /*display: flex;
    -ms-flex-wrap: wrap;*/ /* IE10 */
    /*flex-wrap: wrap;
    margin: 0 -16px;
}*/

/*.col-25 {
    -ms-flex: 25%;*/ /* IE10 */
    /*flex: 25%;
}

.col-50 {
    -ms-flex: 50%;*/ /* IE10 */
    /*flex: 50%;
}

.col-75 {
    -ms-flex: 75%;*/ /* IE10 */
    /*flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}*/

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
/*@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}*/