@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-white">
    <h1 class="display-4">Black Pearl</h1>
    <p class="text-white"> En webshop med salg af Pakistansk- Indiske smykker</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @*1 of 2*@
            <h1><i class="text-white">Velkommen til...</i></h1>
            <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type 
                specimen book. It has survived not only five centuries, but also the leap into 
                electronic </p>
        </div>
        <div class="col">
            @*2 of 2*@
            @*<img src="Images/diamant.png" class="col-sm" alt="Responsive image">*@
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col Bracelet_category">
            <button class="btn btn-default" asp-area="" asp-page="/Jewellery/BraceletCRUD/AllBracelets">
                @*1 of 2*@
                    <img src="Images/bracelet1.jpg" class="col-sm Bracelet_img rounded" alt="Responsive image">
            </button>
        </div>
       
        <div class="col Earring_category">
            <button class="btn btn-default" asp-area="" asp-page="/Jewellery/EarringCrud/AllEarrings">
                @*2 of 2*@
                <img src="Images/earring1.jpg" class="col-sm Earring_img rounded" alt="Responsive image">
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col Head_category">
            <button class="btn btn-default" asp-area="" asp-page="/Jewellery/HeadJewelleryCRUD/AllHeadJew">
                @*1 of 3*@
                <img src="Images/head2.png" alt="Responsive image" class="col-sm Head_img rounded">
            </button>
          </div>
        
        <div class="col Ring_category">
            <button class="btn btn-default" asp-area="" asp-page="/Jewellery/RingCRUD/AllRings">
            @*2 of 3*@
                <img src="Images/ring1.jpg" alt="Responsive image" class="col-sm Ring_img rounded">
            </button>
         </div>
        <div class="col Necklace_category">
            <button class="btn btn-default" asp-area="" asp-page="/Jewellery/NecklaceCRUD/AllNecklaces">
                @*3 of 3*@
                <img src="Images/necklace2.JPG" alt="Responsive image" class="col-sm col-md Necklace_img">
            </button>
        </div>
    </div>
</div>