@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center text-white">
        <h1 class="display-3">Black Pearl</h1>
        <div class="text_header_frontpage">
            <p class="text-white text_header_frontpage">Is a online webshop that provides traditional Indian-Pakistani jewelleries</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col" style="background-color: #00051b">
            <h2 class="display-4 text-white"><i>Welcome...</i></h2>

            @*1 of 2*@
            <p class="text-white">
                Black Pearl is a online jewellery store which is trying to provide best products to our customers at best prices.
                Right now we are working in jewelry field but soon we will start other bridal accessories.
                We have warehouser & workshops in Denmark. We accept custom orders from all over the world.
            </p>
            <p class="text-white">
                We specialize in bespoke luxury designer, traditional and contemporary 21k 22k & 24k gold plated Asian, 
                Indian,Pakistani Bengali bridal & casual jewellery and sterling silver jewellery using precious,
                semiprecious stones,swarovski crystals, glass pearls and real fresh water pearls.
                Driven by innovation and change, Black Pearl are always looking for new ways to inspire our loyal and incredibly stylish clientele.
            </p>
        </div>
        <div class="col-2">
            @*2 of 2*@
            @*<img src="Images/DiamondNew-PNG.png" width="300" height="auto">*@
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col ">
            <a asp-area="" asp-page="/Jewellery/BraceletCRUD/AllBracelets" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img style="min-width: 200px;"  type="button" src="Images/braceBang.png" class="col-sm  rounded btn btn-link " alt="Responsive image">
            </a>
        </div>
        <div class="col ">
            <a asp-area="" asp-page="/Jewellery/EarringCrud/AllEarrings" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img style="min-width: 200px;"  type="button" src="Images/earrings.jpg" class="col-sm  rounded btn btn-link " alt="Responsive image">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a asp-page="/Jewellery/HeadJewelleryCRUD/AllHeadJew" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img style="min-width: 160px;" type="button" src="Images/HeadJew.png" class="col-md  rounded btn btn-link " alt="Responsive image">
            </a>
        </div>
        <div class="col" >
            <a asp-page="/Jewellery/RingCRUD/AllRings" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img style="min-width: 160px;" type="button" src="Images/Rings.png" class="col-md  rounded btn btn-link " alt="Responsive image">
            </a>
        </div>

        <div class="col">
            <a asp-page="/Jewellery/NecklaceCRUD/AllNecklaces" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img style="min-width: 160px;" type="button" src="Images/necklaces.png" class="col-md  rounded btn btn-link " alt="Responsive image">
            </a>
        </div>
    </div>
</div>